# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,rb,erb}]
charset = utf-8

# ruby indentation
[*.rb]
indent_style = space
indent_size = 2

[{Gemfile, Rakefile}]
indent_style = space
indent_size = 2

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
indent_size = 2
tab_width = 4

# Indentation override for all JS under lib directory
[*.js]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# Matches the exact files either package.json or .travis.yml
[.travis.yml]
indent_style = space
indent_size = 2
